@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
         url("../fonts/montserrat-v15-latin-regular.woff") format("woff"), /* Modern Browsers */
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"), 
         url("../fonts/montserrat-v15-latin-600.woff") format("woff");
  }
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
         url("../fonts/poppins-v15-latin-regular.woff") format("woff");
  }

:root{
  --montserrat: "Montserrat", "Arial", sans-serif;
  --poppins: "Poppins", "Arial", sans-serif;
  --bg-color: #141d28;
  --bg-color-main: #233142;
  --text-color: #377dff;
  --black-color: #0c1117;
  --paragraph-color: #5c6f87;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--montserrat);
  overflow-x: hidden;
}

.caption{
  padding-left: 25px;
  border-left: 4px solid var(--text-color);
}

/*================================================================================
                                  HEADER
================================================================================*/
.site-header{
  width: 1366px;
  margin: 0 auto;
}
.social-accounts,.site-navbar{
  padding: 15px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.social-accounts{  
  background-color: var(--bg-color);
}
.site-navbar{
  background-color: var(--black-color);
}
.navbar-nav{
  display: flex;
  align-items: center;
  list-style-type: none;
}
.navbar-item{
  margin-left: 20px;
}
.navbar-link{
  font-family: var(--poppins);
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  white-space: nowrap;
}
.navbar-link:hover{
  color: var(--text-color);
}

.header-bg-image{
  background-image: url("../images/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px;
  color: #fff;
}

.header-text{
  display: flex;
  align-items: center;
}
.number{
  font-family: var(--poppins);
  font-size: 140px;
  color: rgba(255, 255, 255, 0.13);
}
.header-heading{
  margin-left: 25px;
  padding-left: 25px;
  width: 475px;
  border-left: 4px solid var(--text-color);
  font-size: 50px;
  font-family: var(--montserrat);
}
.caption span{
  color: var(--text-color);
}
.header-p{
  max-width: 500px;
  font-family: var(--poppins);
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.header-button{
  display: flex;
  align-items: center;
}
.link-button{
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  padding: 17px 37px;
  background-color: transparent;
  border: 3px solid var(--text-color);
  border-radius: 100px;
  transition: 0.3s ease-in-out ;
} 
.active{
  margin-right: 15px;
  background-color: var(--text-color);
}
.link-button:hover{
  background-color: var(--text-color);
}
.active:hover{
  background-color: transparent;
}

/*========================================================================== 
                                    MAIN  
==========================================================================*/
main{
  margin: 0 auto;
  max-width: 1366px;
}

/* IXTISOSLASHTIRILIGAN FANLAR  */

.ixtisos-fanlar{
  text-align: center;
  padding: 100px;
}
.fanlar-caption{
  display: inline-block;
  margin-bottom: 70px;
  color: var(--bg-color);
}
.fanlar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fan-image{
  border-radius: 100%;
  margin-bottom: 16px;
}
.arrow-image{
  margin-left:25px;
  margin-right: 25px;
}

.fan-text{
  font-size: 20px;
  font-weight: 400;
  color: var(--bg-color);
}

/* USTOZLARIMIZ */
.ustozlar{
  display: flex;
  align-items: center;
  
  background-color: var(--bg-color-main);
  color: #fff;
  text-transform: capitalize;
  padding: 150px 100px;
}
.ustozlar-caption{
  font-size: 40px;
}
.ustozlar-images{
  width: 850px;
  overflow-x: auto;
  margin-left: 25px;
  display: flex;
  align-items: baseline;
  text-align: center;
}
.ustozlar-images::-webkit-scrollbar{
  height: 8px;
}
.ustozlar-images::-webkit-scrollbar-thumb{
  background-color: var(--bg-color);
  border-radius: 5px;
}
.ustoz-info{
  margin-left: 5px;
}
.ustoz-ismi{
  margin-top: 15px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  color: #f8f4e1;
}
.ustoz-fani{
 font-size: 14px;
 letter-spacing: 2px;
 color: #bbbbbb;
 margin-bottom: 15px;
}
